@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color-primary: #ADEFD1;
    --color-secondary: #003f34;
    --color-accent1: azure;
    --ff: "Poppins", serif;
    --transition: 0.3s ease-in-out;
}

html{
    font-size: 16px;
    background-color: #9bff8cb0;
}

body{
    font-family: var(--ff);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, button, textarea, select {
    font: inherit;
}

/* ---------------------------------------------------------- */

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-body{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 0px 0px;
    
}

.display-container{

    background-color: var(--color-accent1);
    border-radius: 30px;
    border-bottom: 1px solid black;
}

.button-container{
    padding: 20px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}


.operator{
    background-color: azure;
}
#erase-all,
#erase{
    background-color: rgb(206, 253, 253);
}

#start{
    background-color: #dc143ca5;
    grid-column: 3 / 5 ;
}

.display-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

#expression{
    font-size: 4rem;
    font-weight: 500;
    height: 100px;
}

#answer{
    font-size: 2rem;
    height: 50px;
}

button{
    background-color: rgb(176, 232, 148);
    color: var(--color-secondary);
    border-radius: 25px;
    font-weight: 700;
    font-size: 25px;
    padding: 15px;
    box-shadow: 3px 3px 0px 0px;
}


.calculator-body,
button
{
    border: 1px solid black;
}









